LogstashLogger.module/Schemas/ExceptionSchemaResource.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tns.tibco.com/bw/json/1499857649551" elementFormDefault="qualified" targetNamespace="http://tns.tibco.com/bw/json/1499857649551">
  <complexType name="ExceptionSchemaElementType">
    <sequence>
      <element maxOccurs="1" minOccurs="0" name="errorType" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="errorCode" type="string"/>
      <element maxOccurs="1" minOccurs="0" name="errorMessage" type="string"/>
    </sequence>
  </complexType>
  <element name="ExceptionSchemaElement" type="tns:ExceptionSchemaElementType"/>
</schema>
